* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
:root {
   --primary-color: #350066;
   --secondary-color: #eeeaf2;
   --tertiary-color: #5e17eb;
   --quaternary-color: #564592;
   --background-color: #1c1c1c;
}
html {
   font-family: "Rubik", sans-serif;
}
li {
   list-style: none;
}
body {
   width: 100%;
   background-color: black;
}
button {
   border: none;
   cursor: pointer;
}
h2 {
   color: #f9f9f9;
   margin-bottom: 24px;
}
main {
   display: flex;
   justify-content: center;
   flex-direction: column;
   width: 100%;
   margin-top: 50px;
}
a {
   text-decoration: none;
}
.hero-section,
.trending-preview,
.categories-preview__section {
   margin: 0 auto;
}
::-webkit-scrollbar {
   height: 10px;
   width: 10px;
}
::-webkit-scrollbar-track {
   background: var(--primary-color);
}
::-webkit-scrollbar-thumb {
   background: var(--secondary-color);
   border-radius: 5px;
}

.slider__container {
   position: relative;
}
.slider__container::before,
.slider__container::after {
   content: "";
   position: absolute;
   width: 20px;
   height: calc(100% - 10px);
   top: 0;

   z-index: 1;
   pointer-events: none;
}

.slider__container::after {
   right: 0;
}

.slider--black::before {
   background: linear-gradient(to right, rgb(0, 0, 0), transparent);
}
.slider--black::after {
   background: linear-gradient(to left, rgb(0, 0, 0), transparent);
}
.slider--gray::before {
   background: linear-gradient(to right, var(--background-color), transparent);
}
.slider--gray::after {
   background: linear-gradient(to left, var(--background-color), transparent);
}

/* 
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
HEADER
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
*/
header {
   display: flex;
   justify-content: space-between;
   width: 100%;

   height: 50px;
   padding: 0 10px;
   background-color: var(--primary-color);
   color: white;
   position: fixed;
   z-index: 10;
   top: 0;
   left: 0;
   right: 0;

   box-shadow: 0px 1px 10px rgb(0, 0, 0, 0.4);
}
header h1 > a {
   font-size: 20px;
   align-self: center;
   padding-left: 10px;
   color: var(--secondary-color);
}

.header__list-container {
   display: none;
}
.header__list {
   display: flex;
   width: 100%;
   align-content: center;
}
.header__item {
   align-content: center;
   height: 100%;
   width: fit-content;
   border-bottom: 3px solid transparent;
   transition: border-bottom 0.2s ease-in-out;
   padding: 0 1.5vw;
}
.header__item a {
   display: flex;
   align-items: center;
   color: white;
   height: 100%;
   font-size: 18px;
}

.header__item:hover {
   border-bottom: 3px solid var(--secondary-color);
   cursor: pointer;
}

/* 
----------------------------------------
Buscador
 */
.header__search {
   display: none;
   height: 30px;
}
.search__input {
   border-radius: 8px 0 0 8px;
   background-color: var(--secondary-color);
   height: 100%;
   border: none;
   outline-color: var(--primary-color);
   padding: 10px;
}
.search__button {
   border-radius: 0 8px 8px 0;
   height: 100%;
}
.search__button span {
   opacity: 0.5;
   color: var(--primary-color);
}
/* 
-----------------------------------------
*/

.header__section {
   display: flex;
   align-items: center;
   height: auto;
}
.header__lang {
   width: 40px;
   height: 25px;
   margin: 0 10px;
}
.header__menu {
   display: flex;
   align-items: center;
   justify-content: center;
}

/* 
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
HERO SECTION
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
*/

.hero-section {
   width: 100%;
   height: min-content;
   min-height: 400px;
   display: flex;
   flex-direction: column;
   position: relative;
}

/* 
POSTER 
*/
.hero__poster,
.movie-details__poster {
   position: relative;
   width: 100%;

   height: 70vh;
   min-height: 360px;
   max-height: 550px;
}
.hero__image::before,
.movie-details__image::before {
   content: "";
   width: 100%;
   height: 100%;
   position: absolute;
   bottom: 0;
   background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 5%,
      rgba(255, 255, 255, 0) 7%
   );
}
.hero__image,
.movie-details__image {
   max-width: 100%;
   display: flex;
   justify-content: center;
   width: 100%;
}
.hero__image img,
.movie-details__image img {
   width: 100%;
   height: 100%;

   object-fit: cover;
   object-position: center top;
   position: absolute;

   z-index: -1;
   top: 0;
}

/* 
HERO INFO
*/
.hero__info-container {
   color: var(--secondary-color);
   position: relative;
   top: -30px;
}
.hero__header {
   color: var(--secondary-color);
   display: flex;
   justify-content: center;
   padding: 10px;
}
.hero__header span {
   margin-right: 20px;
   display: flex;
   align-items: center;
   justify-self: center;
}

.hero__rating::before,
.movie-details__score::before {
   content: "⭐";
   margin-bottom: 4px;
}
.hero__rating::after {
   content: "·";
   margin-left: 30px;
}
.hero__time::after {
   content: "·";
   margin-left: 25px;
}
.hero__trending {
   background-color: #bd5303;
   border-radius: 10px;
   text-align: center;
   padding: 5px;
   border: 2px solid #ebc9ff;
   font-size: 0.8rem;
}
.hero__title {
   justify-self: center;
   font-size: 1.8rem;
   padding: 10px;
   margin-bottom: 20px;
   text-align: center;
}
.hero__info p {
   padding: 0 10px;
   margin-bottom: 30px;
   display: none;
   text-shadow: 2px 1px 2px black;
}
.hero__buttons {
   display: flex;
   padding: 5px 20px;
   justify-content: center;
   gap: 30px;
}
.hero__buttons button {
   padding: 8px;
   border-radius: 8px;
   height: 50px;
   width: 150px;
   color: var(--secondary-color);
   background-color: var(--primary-color);
   border: 1px solid var(--tertiary-color);
   font-size: 1.1rem;
}
.hero__buttons button:nth-child(2) {
   width: 80px;
}
.hero__buttons button:hover {
   background-color: #53049e;
}

.hero__trailer-btn {
   width: 120px;
}
.hero__details-btn {
   width: fit-content;
}
@media (min-width: 985px) {
   .hero-section {
      flex-direction: row-reverse;
      max-width: 1024px;
      min-height: 450px;
   }
   .hero__image img {
      width: 80%;
      max-width: 1600px;
      right: 0;
   }
   .hero__image::before {
      background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 1) 5%,
            rgba(255, 255, 255, 0) 17%
         ),
         linear-gradient(
            90deg,
            rgba(0, 0, 0, 1) 25%,
            rgba(255, 255, 255, 0) 67%
         );
   }
   .hero__info-container {
      display: flex;
      flex-direction: column;

      position: absolute;
      left: 0;
      top: 0;
      max-height: 100%;
      height: 100%;
      max-width: 600px;
      justify-content: center;
   }
   .hero__header {
      margin-top: 30px;
   }
   .hero__info p {
      display: block;
      width: 50vw;
      max-width: 600px;
      padding: 0 20px;
      font-size: 1.2rem;
      max-height: 200px;
   }
}
/* 
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
TRENDIG PREVIEW SECTION
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
*/
.trending-preview {
   display: flex;
   justify-content: center;
   flex-direction: column;
   width: 100%;
   height: auto;
   margin-bottom: 30px;
}
.trending-preview__header {
   display: flex;
   justify-content: space-between;
   padding: 20px;
   width: 100%;
}
.trending-preview__header h2 {
   margin-bottom: 0;
   margin-left: 0;
}
.trending-preview__btn {
   background-color: transparent;
   border: 3px solid var(--tertiary-color);
   border-radius: 5px;
   width: 100px;
   height: 40px;
   font-size: 1rem;
   color: var(--secondary-color);
}
.trending-preview__btn:hover {
   background-color: var(--quaternary-color);
}

.movies__slider,
.cast__container {
   display: flex;
   gap: 10px;
   overflow-x: auto;
   width: 100%;
   padding: 20px;
   position: relative;
}

/* 
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
CATEGORIES PREVIEW
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
*/
.categories-preview__section {
   max-width: 100%;
   height: auto;
   margin-bottom: 30px;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-content: center;
}

.categories-preview__section h2 {
   margin-left: 20px;
}

.categories__button-section,
.generic__categories-slider,
.movie-details__categories {
   display: flex;
   gap: 20px;
   width: 100%;
   overflow-x: auto;
   padding: 20px;
}
.categories__button-section button,
.generic__categories-slider button,
.movie-details__categories button {
   padding: 8px 12px;
   border-radius: 5px;
   background-color: #1e3e62;
   border: 1px solid var(--secondary-color);
   color: var(--secondary-color);
   height: auto;
   font-size: 16px;
}
.categories__button-section button:hover,
.generic__categories-slider button:hover,
.movie-details__categories button:hover {
   background-color: #0e2641;
}

/* 
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
Generic Section
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
*/

.generic__header {
   display: flex;
   width: 100%;
   padding: 20px;
   padding-bottom: 0;
   gap: 20px;
}
.backBtn {
   width: 30px;
   height: 30px;
   background-color: var(--tertiary-color);
   border-radius: 5px;
   color: var(--secondary-color);
}
.generic-movies__container {
   display: grid;
   max-width: 1300px;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   height: auto;
   padding: 30px 15px;
   column-gap: 20px;
   justify-items: center;
   row-gap: 30px;
   margin: 0 auto;
}
.generic-movies__container > .movie-container {
   width: 100%;
   max-width: 300px;
   max-height: 500px;
   margin-right: 0;
}

/* 
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
Movie Details Section
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
*/
.movie-details__section {
   width: 100%;
   max-width: 1800px;
   margin: 0 auto;
}
.movie-details__info-container {
   color: var(--secondary-color);
   min-height: 100%;
   width: 100%;
   position: absolute;
   margin-top: 400px;
   border-radius: 15px 15px 0 0;
   background-color: var(--background-color);
}

.movie-details__poster {
   position: fixed;
}
.movie-details__image::before {
   width: 0;
   height: 0;
}

.movie-details__title {
   font-size: 1.8rem;
   padding: 20px;
}
.movie-details__header div {
   display: flex;
   justify-content: space-between;
   padding: 5px 30px;
}
.movie-details__info-container h3 {
   padding: 10px 0 0 10px;
   font-size: 1.4rem;
   margin-bottom: 20px;
}
.movie-details__description {
   padding: 10px;
   margin-bottom: 10px;
}

.movie-details__trailer {
   width: 100%;
   height: 100%;
}
.movie-details__trailer iframe,
.hero__video {
   width: 100%;
   max-width: 100%;
   height: 300px;
   aspect-ratio: auto;
   margin-bottom: 30px;
}

.movie-details__categories-container {
   margin-bottom: 40px;
}
.cast__container {
   max-width: 100%;
   width: 100%;
}
.movie-details__cast {
   padding: 20px;
   width: 100%;
   max-width: 1024px;
}
.cast__card {
   /* display: flex;
   justify-content: center;
   flex-direction: column; */
   display: grid;
   grid-template-rows: 60% 40%;
   min-width: 100px;
   width: 100px;
   max-width: 150px;
   height: 200px;
   margin-right: 10px;
   border-radius: 10px;
   flex-shrink: 0;
   overflow: hidden;
   box-shadow: 4px 4px 5px black;
   font-size: 1.2rem;
}

.cast__card img {
   width: 100%;
   height: 100%;
}
.cast__card div {
   display: grid;
   grid-template-rows: 1fr 1fr;
   padding: 10px;
   height: 100%;
   background-color: var(--secondary-color);
   font-size: 60%;
}
.cast__card div :first-child {
   color: var(--background-color);
}
.cast__card div :last-child {
   color: var(--quaternary-color);
}

.movie-details__similar {
   padding: 20px;
   width: 100%;
   max-width: 1024px;
}

@media (min-width: 600px) {
   .movie-details__section {
      display: grid;
      grid-template-columns: minmax(0, 30vw) minmax(0, 1fr);
      justify-self: center;
      border-radius: 15px 15px 0 0;
      background-color: var(--background-color);
      width: 100%;
      max-width: 2000px;
      min-height: 100vh;
      margin: 0 auto;
      position: relative;
   }
   .movie-details__info-container {
      position: relative;
      margin-top: 0;

      font-size: 1.4rem;
      padding: 15px;
      width: 100%;
      max-width: 1024px;
   }
   .movie-details__title {
      font-size: 2.2rem;
   }
   .movie-details__info h3 {
      font-size: 1.6rem;
   }
   .movie-details__poster {
      width: 100%;

      height: 100%;
      display: flex;

      flex: 1;
      top: 0;
      position: sticky;
   }
   .movie-details__image {
      height: 800px;
      width: 100%;
      min-width: 200px;
   }

   .movie-details__image img {
      z-index: 1;

      object-fit: contain;
      object-position: top;
      padding: 20px 5px;
      height: 800px;
      width: 100%;
   }

   .movie-details__trailer iframe {
      height: 60vw;
      max-height: 600px;
      max-width: 100%;
   }
   .hero__video {
      max-width: 1024px;
   }
}
.movie-container {
   display: flex;
   justify-content: center;
   flex-direction: column;
   min-width: 150px;
   width: 150px;
   max-width: 200px;
   height: auto;
   margin-right: 10px;

   background-color: black;
   border-radius: 8px;
   transition: 200ms;
   position: relative;
   flex-shrink: 0;
}
.movie-container:hover {
   transform: scale(1.05);
   transition: transform 300ms;
}
.movie-container img {
   width: inherit;
   height: 100%;
}
.movie-container img:hover {
   cursor: pointer;
}
.movie-container > div {
   display: flex;
   align-items: center;
   justify-content: center;
   width: inherit;
   height: 50px;
   padding: 5px;
   border-radius: 0 0 8px 8px;
   border: 1px solid var(--tertiary-color);
   border-top: 0;
}
.movie-container h4 {
   color: var(--secondary-color);
   width: 100%;
   height: auto;

   overflow: hidden;
   white-space: normal;
   text-overflow: ellipsis;
   text-align: center;
   line-height: 1.4;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   line-clamp: 2;
   -webkit-box-orient: vertical;
}
.movie-container button {
   width: 30px;
   height: 30px;
   justify-self: end;
   grid-column: 2;
   border-radius: 30px;
   background-color: var(--secondary-color);
   position: absolute;
   top: 10px;
   right: 10px;
}
.movie-container button::before {
   content: "🤍";
}
.movie-container button.button--liked {
   background-color: var(--tertiary-color);
}
.movie-container button.button--liked::before {
   content: "💖";
}

.hidden {
   display: none;
}
.header__item--selected {
   border-bottom: 3px solid var(--secondary-color);
}

@media (min-width: 500px) {
   .header__search {
      display: flex;
   }
   .hero__video {
      height: 500px;
   }
}

@media (min-width: 985px) {
   .header__list-container {
      display: flex;
   }
   .header__menu {
      display: none;
   }
   .trending-preview,
   .categories-section,
   .categories-preview__section {
      max-width: 80vw;
   }
   .movie-container {
      width: 200px;
   }
   .categories__button-section {
      flex-wrap: wrap;
      justify-content: center;
   }
   .categories__button-section button,
   .generic__categories-slider button,
   .movie-details__categories button {
      height: 40px;
   }
   .generic-movies__container > .movie-container {
      max-width: 100%;
   }
   .hero__video {
      display: flex;
      justify-self: center;
   }
   .movie-details__info-container {
      max-width: 1024px;
   }
}
@media (min-width: 2000px) {
   .movie-container {
      width: 250px;
      max-width: 250px;
   }
   .generic-movies__container > .movie-container {
      max-width: 100%;
   }
   .generic__categories-slider {
      justify-content: center;
   }
   .categories__button-section button,
   .generic__categories-slider button,
   .movie-details__categories button {
      height: 60px;
   }
   .movie-details__title {
      font-size: 3rem;
   }
}
